body {
  width: auto;
  max-width: 1080px;
  justify-content: center;
  font-size: calc(12px + 1vw);
  background-color:#0a3036;
  color: #a8dadc;
  margin: 1rem;


}

.home_nav{
  color: #a8dadc;
  margin: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
}

header {
  width: auto;
}

.head_nav {
  display: grid;
  grid-auto-flow: column;
}

.gallery_nav, .profiles_nav, .care_nav {
  text-decoration: none;
  min-height: 100px;
  padding: 15px;
  margin: 1rem;
  color: #a8dadc;
  background-color: maroon;
  ;

}

.care_nav{
  grid-row: 1/3;
}
.gallery_nav, .profiles_nav {

}

main{
  width: auto;
  margin: 1rem;
  display: flex;
}


h1{
  margin: 0 0 1rem 0;
}

aside{
  float:right;
  min-width: 300px;
}

.safety_stuff{
  margin: 0 15px 0 0;
}

.profile_row{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto auto;  
  max-width: 1080px;
}

h4{
  margin: 5px 0 0 0;
}

.gallery{
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: dense;
  margin: 5px;
}

.g_big, .g_big img{
  width: 200px;
  position: relative;
  margin: 5px;
  
}

.profile_pic{
  align-self: center;
}
.profile_pic, .g_sma, .g_sma img{
  width: 100px;
  position: relative;
  margin: 5px;

}

.story{
  font-size: 1rem;
  margin: 0;
}

ul .story{
  list-style-type: circle;
  position: relative;
  left: -15px;
}


footer{
  margin: 1rem;

}

/* .images {
  display: grid;
  grid-template: repeat(1, .3fr) / repeat(2, .3fr);
  
  
}

.pic {
  height: 200px;
  align-items: center;

  
}


.color_ul {
  list-style-type: none;
}
.color_li {
  line-height: 2;
  margin-left: 30px;
}

.text1 {
  height: 40px;
  width: 40px;
  background-color: #001524;
  border-radius: 50%;
  position: absolute;
  left: 10px;

  border-width: 5px;
  border-color: black;
}
.color1 {
  height: 40px;
  width: 40px;
  background-color: #15616d;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.color2 {
  height: 40px;
  width: 40px;
  background-color: #368f8b;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.color3 {
  height: 40px;
  width: 40px;
  background-color: #ff7d00;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.color4 {
  height: 40px;
  width: 40px;
  background-color: #78290f;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.accent1 {
  height: 40px;
  width: 40px;
  background-color: #e63946;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.accent2 {
  height: 40px;
  width: 40px;
  background-color: #f1faee;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.accent3 {
  height: 40px;
  width: 40px;
  background-color: #5f0f40;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}
.bkgrnd {
  height: 40px;
  width: 40px;
  background-color: #f1faee;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border-width: 5px;
  border-color: black;
}

.font1 {
  font-size: 2vw;
  font-family: "IM Fell English SC", serif;
}

.font2 {
  font-size: 2vw;
  font-family: "Open Sans", sans-serif;
}

.font3 {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
} */
