body {
  justify-content: center;
  font-size: 2.2em; 
  background-color: #011936;
  color: #c2eabd;
  margin: 1rem 0;
  padding: 0;
  /* width: 1080px; */
  width: 100%; /*ok*/
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  
}

.head_nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: #011936;
  width: 95vw;
  z-index: 2;
}
.home_nav, .gallery_nav, .profiles_nav, .care_nav {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem;
  color: white;
  font: 2em Open Sans;
  text-shadow: 3px 3px 6px #000000;
  background-color:#ff8600;
  background-blend-mode: hard-light;
  background-size: cover;
}
.home_nav{
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: url("../fp_images/machete_3.webp");
  background-position: center;
}
.gallery_nav, .care_nav{
  grid-row: 2/3;
}
.gallery_nav{
  background-image: url("../fp_images/swisspioneer_2.webp");
  background-position: right 15% top 60%;
}
.profiles_nav{
  background-image: url("../fp_images/latestpurchase_2.webp");
  background-position: center;
}
.care_nav{
  background-image: url("../fp_images/hunterrefurbished_2.webp");
  background-position: center;
}
.sharpening
.profiles_nav {
  grid-column: 2/3;
  grid-row: 2/3;
}
.care_nav{
  grid-column: 3/5;
}
main{
  width: 95vw;
  background-color: #011936;
  padding: 3rem 1rem;
  margin: 280px 0 0.5rem 0; /*this controls the top distance from the nav section*/
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.intro{
  grid-column: 1/4;
  margin: 0 3rem 0 0;
}
h1{
  margin: 0.5rem 0 0.5rem 0;
  font: 3.6rem Open Sans;
  color: #ff8600;
}
.li_home{
  margin: 0 0 0 2rem;
}
.li_home, .li_home a{
  list-style-type: circle;
  list-style-position: inside;
  text-indent: -2rem;
  padding: .2rem .2rem .2rem 0;
  /* margin: 0 2rem; */
  font-size: 2rem;
  color: #c2eabd;
}
li.li_home::marker{
  padding-left: 2rem;
}
.gallery{
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
  grid-column: 1/5;
  justify-items: center;
  align-items: center;
}
.gal {
  margin: 3px 3px 3px 3px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  background-color: white;
  text-decoration: none;
}
.gal img{
  width: 30vw;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: white;
}
.gal:hover{
  z-index: 1;
  transform: scale(1.25);
  transition-duration: 650ms;
}
.label_gallery{
  background-color: white;
  text-align: center;
  position: relative;
  top: -1.6rem;
  font: 3rem Pacifico;
  color: #0a0188;
  padding: 0.5rem;
  overflow: hidden;
}
.anchor{
  display: block;
  top: -330px;
  visibility: hidden;
}

.profile_row{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-items: center;
  position: relative;
}
.profile_row a{
  position:absolute; 
}  
.profile_pic{
  position: relative; 
  max-width: 15vw;
  padding: .5rem;
  margin: 1rem 0 0 0;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  background-color: white;
  grid-column: 1/2;
  grid-row: 1/2;
}
.profile_pic:hover{
  transform: scale(1.4, 1.4) ;
  transition-duration: 350ms;
  z-index: 0;
}
.back_link{
  grid-column: 1/2;
  grid-row: 1/2;
}
.profile_div{
  padding: .2rem .2rem 1rem .2rem;
  margin: 1rem;
  grid-column: 2/4;
  position: relative;
}  
h4{
  margin: .2rem;
  font: 3.6rem Open Sans;
  color: #ff8600;
}
.profile_bullets{
  padding: .2rem .2rem 1rem .2rem;
  margin: 1rem;
  justify-self: left;
}
.story{
  font-size: 2rem;
  padding: .2rem 2rem 1rem .2rem;
  margin: .2rem;
}
.ul_bullets{
  list-style-type: circle;
  padding: .2rem .2rem 1rem .2rem;
  margin: .2rem;
  font-size: 2rem;
  color: #c2eabd;
}
.safety_stuff{
  margin: 1rem .2rem 0 0;
  font-size: 2rem;
}
.safety_stuff a{
  color: #ff8600;
}
.sharpening{
  grid-column: 1/3;
  border-right: 5px solid #ff8600;
}
.h2_safe,.h3_safe,.ul_safe{
  margin: 1rem auto auto auto;
  padding: 0.2rem;
}
.h2_safe{
  font: 3.6rem Open Sans;
  color: #ff8600;
}
.h3_safe{
  font: 2.8rem Open Sans;
  color: #ff8600;
}
.ul_safe{
  list-style-type: circle;
}

.li_safe{
  font-size: 2rem;
  padding: 0.2rem;
  margin-left: 2rem;
}
.sharpening, .knifecare{
  padding: 0 1.2rem;
  margin-bottom: 3rem;
}
.knifecare{
  grid-column: 3/5;

}
footer{
  width: 95vw;
  padding: 1rem;
  margin: 0.5rem 0;
}

fieldset{
  border: solid;
  border-color: #ff8600;
}
form{
  grid-column: 1/5;
  margin-bottom: 3rem;
}
.form_list{
  list-style: none;
  padding: 1rem;  
}
label {
display: inline-block;
width: 20%;
font-size: 2rem;
text-align: right;
padding: 1em 0.5em ;
}
input,
textarea {
width: 55%;
box-sizing: border-box;
border: 1px solid #ff8600;
font: 2rem Open Sans;
padding: 0.3em;
color: #ff8600;
}
input:focus,
textarea:focus {
background-color: #f1f7f0;
color: #0a0188;
}
textarea {
vertical-align: top;
height: 5em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 0.5em;
}
.button{
  display: grid;
  align-items: center;
}
button {
  padding: 1em;
  width: 40%;
  font-size: 1em;
  color: #0a0188;
  background-color: #c2eabd;
  text-transform: capitalize;
  justify-self: center;
  transition-duration: 350ms;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
