body {
    
    color:  #011936;
    
  }

main{
    display: grid;
    grid-template-columns: auto;
    
}


.images, .pic{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.font1, .font2, .text1, .color1, .color2, .color3, .color4, .accent1, .accent2, .accent3, .bkgrnd{
    font-size: xx-large;
}
.color1{color: #15616d;}
.color2{color: #c2eabd}
.color3{color: #ff8600}
.color4{color:#78290f}
.accent1{color:#b61421}
.accent2{color:rgb(191, 191, 212)}
.accent3{color:#0a0188}
.bkgrnd{color:#011936; background-color: lightgray;}


