body {
  justify-content: center;
  font-size: 2em; /*I want 2em. */
  /*font-size: calc(12px + 1vw); */
  background-color: rgb(191, 191, 212);
  color: #0e0a36;
  margin: 1rem 0;
  padding: 0;
  /* width: 1080px; */
  width: 100%; /*ok*/
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  
}
header {

}
.head_nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: rgb(218, 218, 240);
  /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.301); */
  width: 95vw;
  z-index: 1;
}
.home_nav, .gallery_nav, .profiles_nav, .care_nav {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-weight: bolder;
  background-color: #b95b02;
  background-blend-mode: hard-light;
  background-size: cover;
  font: 0.9em Open Sans;
}
.home_nav{
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: url(fp_images/machete_144547.png);
  background-position: center;
}
.gallery_nav, .care_nav{
  grid-row: 2/3;
}
.gallery_nav{
  background-image: url(fp_images/swisspioneer_145503.png);
  background-position: right 15% top 60%;
}
.profiles_nav{
  background-image: url(/final_project/fp_images/latestpurchase_151058.png);
  background-position: center;
}
.care_nav{
  background-image: url(/final_project/fp_images/hunterrefurbished_150801.png);
  background-position: center;
}
.sharpening
.profiles_nav {
  grid-column: 2/3;
  grid-row: 2/3;
}
.care_nav{
  grid-column: 3/5;
}
main{
  width: 95vw;
  background-color: rgb(218, 218, 240);
  padding: 3rem 1rem;
  margin: 160px 0 0.5rem 0; /*this controls the top distance from the nav section*/
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  /* box-shadow: -10px 0 10px rgba(245, 208, 208, 0.301); */
}

.intro{
  grid-column: 1/4;
}
h1{
  margin: 0.5rem 0 0.5rem 0;
  font-size: 3rem;
}
.li_home{
  margin: 0 0 0 2rem;
}
.li_home, .li_home a{
  list-style-type: circle;
  list-style-position: inside;
  padding: .2rem .2rem .2rem 0;
  /* margin: 0 2rem; */
  font-size: 1.6rem;
  color: #b61421;
}
li.li_home::marker{
  padding-left: 2rem;
}
.gallery{
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
  grid-column: 1/5;
  justify-items: center;
  align-items: center;
  /* padding: 3rem 0; */
}
.gal {
  margin: 3px 3px 3px 3px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  background-color: white;
}
.gal img{
  /* max-width: 20vw; */
  padding: 0.5rem 0.5rem 0 0.5rem;
  /* margin: 1rem; */
  background-color: white;
  z-index: -1;
}
.gal:hover{
  transform: scale(1.25);
  transition-duration: 650ms;
}
.profile_pic:hover{
  transform: scale(1.25, 1.25);
  transition-duration: 650ms;
  transform-origin: top left;
  z-index: 1;
}
.label_gallery{
  background-color: white;
  text-align: center;
  position: relative;
  top: -1.6rem;
  font: 32px Pacifico;
  text-decoration: none;
  color: #0e0a36;
  padding: 0.5rem;
  /* max-width: 20vw; */
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-line-clamp: 2; */
}
.profile_row a{position:absolute; top: -18rem;}
.profile_row{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-items: center;
  position: relative;
}
.profile_pic{
  max-width: 15vw;
  padding: .5rem;
  margin: 1rem 0 0 0;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.301);
  background-color: white;
  position: relative;
}
.profile_div{
  padding: .2rem .2rem 1rem .2rem;
  margin: 1rem;
  grid-column: 2/4;
  /* font-size: x-small; */
  position: relative;
}  
h4{
  margin: .2rem;
  font-size: 3rem;
}
.profile_bullets{
  padding: .2rem .2rem 1rem .2rem;
  margin: 1rem;
  justify-self: left;
}
.story{
  font-size: 1.6rem;
  padding: .2rem 2rem 1rem .2rem;
  margin: .2rem;
  /* filter: contrast(200%); */
}
.ul_bullets{
  list-style-type: circle;
  padding: .2rem .2rem 1rem .2rem;
  margin: .2rem;
  font-size: 1.2rem;
  color: #b61421;
}
.safety_stuff{
  margin: 1rem .2rem 0 0;
  font-size: 1.4rem;
}
.safety_stuff a{
  color: #b61421;
}
.sharpening{
  grid-column: 1/3;
  border-right: 5px solid #b61421;
}
.h2_safe,.h3_safe,.ul_safe{
  margin: 1rem auto auto auto;
  padding: 0.2rem;
}
.h3_safe{
  font-size: 1.6rem;
}
.ul_safe{
  list-style-type: circle;
}

.li_safe{
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-left: 2rem;
}
.sharpening, .knifecare{
  padding: 0 1.2rem;
  margin-bottom: 3rem;
}
.knifecare{
  grid-column: 3/5;
  /* border-left: 5px solid #b61421; */
}
footer{
  margin: 1rem 0;
  width: 95vw;
  padding: 1rem;
  margin: 0.5rem 0;
}
legend{
  /* font-size: 1.4rem; */
}
fieldset{
  border: solid;
  border-color: #b61421;
}
form{
  grid-column: 1/5;
  justify-content: center;
  margin-bottom: 3rem;
}
.form_list{
  list-style: none;
  padding: 1rem;  
}
label {
display: inline-block;
width: 20%;
font-size: 1.4rem;
text-align: right;
padding: 1em 0.5em ;
}
input,
textarea {
width: 55%;
box-sizing: border-box;
border: 1px solid #999;
font: 1.4rem Open Sans;
padding: 0.3em;
color: lightgray;
}
input:focus,
textarea:focus {
background-color: rgb(218, 218, 240);
color: #0e0a36;
}
textarea {
vertical-align: top;
height: 5em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 0.5em;
}
.button{
  display: grid;
  align-items: center;
}
/* .submit{
  justify-self: center;
  align-items: center;
} */
button {
  padding: 1em;
  width: 40%;
  font-size: large;
  text-transform: capitalize;
  justify-self: center;
  transition-duration: 350ms;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
