body {
  background-color: #f4f4f5;
  font-size: 1em;
  line-height: normal;
  margin: 0px;
  padding: 0.5rem 0.5rem 2rem;
}
header {
  margin: 0 auto;
  border: 1px solid #ffc864;
  padding: 1rem 0.5rem;
  background-color: #ffc864;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: right;
  vertical-align: middle;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: #002587;
  list-style-type: none;
}

footer {
  margin: 0 auto;
  border: 1px solid #ffc864;
  padding: 1rem 0.5rem;
  background-color: #ffc864;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: left;
  vertical-align: middle;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: #002587;
  list-style-type: none;
}

ul {
  display: flex;
  list-style-type: none; /*this removes the bullets*/
  padding: 0;
}

li {
  flex: 1 1 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: grid;
  grid-template: 4/2;
}

button {
  font-size: 3em;
  line-height: normal;
  text-align: center;
  color: #002587;
  font-family: "IM Fell English SC", serif, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  float: left;
}

h2 {
  font-size: 1.8em;
  line-height: normal;
  color: #002587;
  font-family: "Pacifico", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

p {
  font-size: 1.2rem;
  line-height: normal;
  color: #434656;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: 0px;
  padding-top: 0px;
}

a:link {
  color: #002587;
  text-decoration: none;
}
a:visited {
  color: #b6003e;
  text-decoration: none;
}
a:hover {
  color: #ffc864;
  background-color: #002587;
  text-decoration: none;
}
a:active {
  color: #ffc864;
  background-color: #002587;
  text-decoration: none;
}

/* Class Selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero_image {
  width: 100%;
  height: auto;
}

.example_image {
  width: 500px;
  height: auto;
  box-shadow: 0.5px 0.5px 2px #002587;
}

.social {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: auto;
  padding: 20px 10px 10px;
}

.copyright {
  width: 500px;
  margin: 10px;
}

.pfoot1 {
  width: max-content;
  margin: 10px;
}

.social_logo {
  position: relative;
  width: 30px;
  height: auto;
  vertical-align: middle;
  padding: 5px;
}
