body {
  background-color: #f4f4f5;
  font-size: 1em;
  margin: 0px;
  padding: 0.5rem;
}
header,
footer {
  margin: 0 auto;
  border: 1px solid #ffc864;
  padding: 0.5rem;
  background-color: #ffc864;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #002587;
  list-style-type: none;
}

ul {
  display: table;
  list-style-type: none;
  padding: 0;
}

ul,
li {
  display: inline-block;
  padding: 10px;
}

p {
  font-size: 1.2rem;
  color: #434656;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  color: #002587;
  font-family: "IM Fell English SC", serif;
}

h2 {
  font-size: 1.5em;
  color: #002587;
  font-family: "Pacifico", cursive;
}

a:link {
  color: #002587;
}
a:visited {
  color: #b6003e;
}
a:hover {
  color: #ffc864;
  background-color: #002587;
}
a:active {
  color: #ffc864;
  background-color: #002587;
}

/* Class Selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero_image {
  width: 100%;
  height: auto;
}

.example_image {
  width: 500px;
  height: auto;
}

.copyright {
  width: 300px;
}

.social {
  position: relative;
  left: 425px;
  width: 300px;
}

.social_logo {
  width: 30px;
  height: auto;
}
